#calculator{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 25% 35% 25% 35%;
    border: 2px solid black;
    background-color: rgb(73, 73, 240);
}

input{
    padding: 0;
    border-radius: 45px;
    width: 60%;
    height: 3vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 1px solid;
    font-size: large;
}

select{
    border-radius: 45px;
    width: 60%;
    height: 3vw;
    font-size: medium;
}

button{
    border-radius: 45px;
    width: 9vw;
    height: 3vw;
    font-size: large;
    margin-top: 2vh;
}

body{
    margin: 0;
    background-color: white;
}

h1{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
}
.inner{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}